main{
    overflow-x: hidden;
}
.container-fluid {
    padding: 0px;
}
.custom-shape-divider-top-1647923970 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: 2;
}

.custom-shape-divider-top-1647923970 svg {
    position: relative;
    display: block;
    width: calc(115% + 1.3px);
    height: 173px;
}

.custom-shape-divider-top-1647923970 .shape-fill {
    fill: #FFFFFF;
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
    .custom-shape-divider-top-1647923970 svg {
        width: calc(100% + 1.3px);
        height: 59px;
    }
}


.custom-shape-divider-bottom-1647725322 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: 2;
}

.custom-shape-divider-bottom-1647725322 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 96px;
    z-index: 2;
}

.custom-shape-divider-bottom-1647725322 .shape-fill {
    fill: #FFFFFF;
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
    .custom-shape-divider-bottom-1647725322 svg {
        width: calc(100% + 1.3px);
        height: 59px;
    }
}
.custom-shape-divider-bottom-1648145043 {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    z-index: 2;
}

.custom-shape-divider-bottom-1648145043 svg {
    position: relative;
    display: block;
    width: calc(300% + 1.3px);
    height: 102px;
}

.custom-shape-divider-bottom-1648145043 .shape-fill {
    fill: #FFFFFF;
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
    .custom-shape-divider-bottom-1648145043 svg {
        width: calc(201% + 1.3px);
        height: 102px;
    }
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-bottom-1648145043 svg {
        width: calc(283% + 1.3px);
        height: 118px;
    }
}

/* Carousel styling */
#introCarousel,
.carousel-inner,
.carousel-item,
.carousel-item.active {
  height: 100vh;
}

.carousel-item:nth-child(1) {
  background-image: url('https://mdbootstrap.com/img/Photos/Others/images/76.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.carousel-item:nth-child(2) {
  background-image: url('https://mdbootstrap.com/img/Photos/Others/images/77.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.carousel-item:nth-child(3) {
  background-image: url('https://mdbootstrap.com/img/Photos/Others/images/78.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/* Height for devices larger than 576px */
@media (min-width: 992px) {

}

.navbar .nav-link {
  color: #ffffff !important;
}
#card1{
    box-shadow: none !important;
   margin-left: 40%;
   margin-right: 10%;

}
#card1 > img{
    width: 500px;
    height: 500px;
    object-fit:cover;
    align-self: center;
    justify-self: center;
    border-radius: 100%;
}
